html{
    height: 100%;
}
body{
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.section{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.nav{
    height: 36%;
    display: flex;
    justify-content: center;
}
.nav > .logo{
    width: 30%;
}
.main{
    height: 64%;
    background-color: #1d96fc;
    display: flex;
    justify-content: center;
}
.nav-items > ul li{
    display: inline;
    list-style-type: none;
}
.nav-items > ul li a{
    text-decoration: none;
    display: inline-block;
    padding: .6em;
    color: #1d96fc;
    font-size: .9em;
    transition: all .3s;
}
.nav-items > ul li a:hover{
    background-color: #1d96fc;
    color: #ffffff;
    cursor: pointer;
}
.nav-items{
    justify-self: flex-end;
}
#selected-nav{
    background-color: #1d96fc;
    color: #ffffff;
}

.image > img{
    height: 56vh;
}
.heads{
    color: #ffffff;
    padding-left: .9em;
}
.heads > h1{
    margin-top: 2em;
}
.main > .image{
    position: relative;
    top: -50px;
}
.logo > h4{
    margin-bottom: .4em;
    margin-top: .8em;
}
.logo > p{
    margin-top: .4em;
}
.btn{
    padding: .5em .6em;
    outline: none;
    transition: .3s;
}
.btn-white{
    border: 2px solid #ffffff;
    border-radius: .4em;
    background-color: #1d96fc;
    color: #ffffff;
}
.btn-white:hover{
    background-color: #ffffff;
    color: #1d96fc;
}
.container{
    display: flex;
    flex-direction: column;
}
.section-side{
    display: flex;
    height: 100vh;
}
.side-main{
    width: 80%;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    overflow-y: scroll;
    font-size: 0.9em;
}
.side-main > ul li{
    margin-bottom: .4em;
}
.side-nav{
    box-sizing: border-box;
    width: 34vw;
    height: 100%;
    padding-top: 1.8em;
    background-color: #1d96fc;
    -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}
.side-nav > ul{
    padding-left: .6em;
}
.side-nav > ul li{
    list-style-type: none;
    margin-bottom: .6em;
}
.side-nav > ul li a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    transition: all .3s;
    padding: .4em;
    width: 100%;
}
.side-nav > ul li a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.selected-a{
    font-size: 2.2em;
    background-color: rgba(255, 255, 255, 0.4);
    animation-name: moveUp;
    animation-duration: .3s;
    animation-timing-function: ease-in;
}

@keyframes moveUp{
    from{
        transform: translateY(100px);
        opacity: .6;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.line{
    height: 1px;
    background-color: #dfdfdf;
}
.links{
    color: #1365a8;
}
.sm-head{
    font-weight: 600;
}
.sm-details{
    padding-left: .6em;
}
.section-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1d96fc;
}
.section-form{
    height: 100vh;
    background-color: #1d96fc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-holder{
    background: #ffffff;
    padding: 1.5em;
    border-radius: .4em;
}
.btn-sub{
    background-color: #1d96fc;
    padding: .6em;
    border: none;
    color: #ffffff;
    border-radius: .3em;   
    transition: all .3s;
}
.btn-sub-disabled{
    background-color: #607383;
    padding: .6em;
    border: none;
    color: #ffffff;
    border-radius: .3em;   
    transition: all .3s;
}
.btn-sub:hover{
    background-color: #1e7cc9;
}

.hide{
    display: none;
}
.nav-top{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    z-index: 99;
}

.nav-top > .nav-items > ul{
    margin-top: .4em;
    margin-bottom: .4em;
}